@page "/product"
@using CursoBlazorWebAssembly.Models
@inject ILogger<Product> logger;
@using CursoBlazorWebAssembly.Service
@inject IProductService productService;
@inject NavigationManager navigationManager


<PageTitle>Products</PageTitle>

<ModuleTitle Title="Products"/>

<button class="btn btn-danger" @onclick="@(()=> navigationManager.NavigateTo("/addProduct"))">agregar producto</button>
@if (products.Count > 0)
{
    <div class="row">
        @foreach (var product in products)
        {
            <div class="card p-1 m-4 border-0 shadow-lg col">
                <img src="@product.Images[0]" alt="Product" class="card-img-top" loading="lazy" width="270"/>
                <div class="card-body">
                    <h4><b>@product.Title</b></h4>
                    <p>@product.Price?.ToString("C")</p>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No hay productos</p>
}

@code {
    //
    //                <button title="Eliminar" class="btn btn-danger btn-delete" onclick="@(()=>Delete(product))"><span class="oi oi-trash"></span></button>
    private List<Product> products;

    protected override async Task OnInitializedAsync()
    {
        products = await GetProducts();
    }

    private async Task<List<Product>> GetProducts()
    {
        return await productService.GetProducts(); 
    }
}
